*
{
    font-family: sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(98, 100, 94, 1.0);
}

body.index
{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1.0);
    background-image: url("images/Bodega\ Bay\ 2013-01-02 Tinted.jpg");
    background-color: rgba(90, 90, 100, 1.0);
}

div.header
{
    padding: .4em;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 32;
    border-style: solid;
    border-width: 0 0 .1em 0;
    border-color: rgba(255, 255, 255, .4);
}

img.header
{
    margin: 0 .4em 0 0;
    vertical-align: text-bottom;
}

div.content
{
    margin: 0em;
	padding: 2em;
}

div.footer
{
    margin: 2em 0 0 0;
    text-align: center;
}

div.nav
{
    margin: 0em 0em 4em 0em;
    font-size: small;
}

div.block
{
    margin: 0em 0em 4em 0em;
}

div.subblock
{
    margin: 0em 0em 2em 0em;
}

a:link
{
    color: rgba(230, 225, 180, 1.0);
}

a:visited
{
    color: rgba(230, 225, 180, 1.0);
}

a.button
{
    padding: .2em;
}

a.GitHubButton
{
    padding: .4em;
    background-color: rgba(240, 240, 240, 1);
}

img.button
{
    vertical-align: middle;
    margin: 0 .4em 0 0;
}

img.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1
{
    font-weight: normal;
}

h1.header
{
    margin: 0 0 0 0;
    border-style: solid;
    border-width: 0 0 .1em 0;
    border-color: rgba(255, 255, 255, .3);
}

h2
{
    margin: 0 0 0 0;
    font-weight: normal;
}

h2.header
{
    margin: 0 0 1em 0;
    border-style: solid;
    border-width: 0 0 .1em 0;
    border-color: rgba(255, 255, 255, .3);
}

h3
{
    margin: 0 0 0 0;
    font-weight: normal;
}

pre
{
    font-family: monospace;
    background-color: rgba(255, 255, 255, .1);
    padding: 1em;
}

tr
{
    background-color: rgba(255, 255, 255, .1);
}

th
{
    text-align: left;
    font-weight: normal;
    background-color: rgba(220, 255, 200, 0.1);
    padding: .4em;
}

td
{
    vertical-align: top;
    padding: .4em;
}

